<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>index页</title>
    <script src="static/js/jquery-3.2.1.min.js"></script>
</head>
<body>
index页<br/><br/>


<span sec:authorize="hasAuthority('menu1')">
    <button id="menu1Btn" type="button" onclick="sendAjax('/menu1')">菜单1</button>
</span>

<span sec:authorize="hasAuthority('menu2')">
    <button id="menu2Btn" type="button" onclick="sendAjax('/menu2')">菜单2</button>
</span>

<span sec:authorize="hasAuthority('menu3')">
    <button id="menu3Btn" type="button" onclick="sendAjax('/menu3')">菜单3</button>
</span>

<span sec:authorize="hasAuthority('menu4')">
    <button id="menu4Btn" type="button" onclick="sendAjax('/menu4')">菜单4</button>
</span>

<span sec:authorize="hasAnyAuthority('admin')">
    <button id="adminBtn" type="button" onclick="sendAjax('/admin')">admin</button>
</span>

<span>
    <h3 th:text="${user.authorities}"></h3><br/>
    <h3 th:text="${user.uName}"></h3><br/>
    <h3 th:text="${user.uPassword}"></h3><br/>
</span>

<script type="text/javascript">

    function sendAjax(url) {

        $.ajax({
            type: "GET",
            url: url,
            dataType: "text",
            success: function (data) {
                console.log(data);
            }
        });
    }



</script>
</body>
</html>