<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boss.rbacpowermanage.mapper.UserRoleMapper">

    <resultMap id="UserMap" type="com.boss.rbacpowermanage.entity.po.UserPO">
        <id property="uId" column="u_id"></id>
        <result property="uName" column="u_name"></result>
        <result property="uPassword" column="u_password"></result>
        <result property="uCreateTime" column="u_create_time"></result>
        <result property="uEmail" column="u_email"></result>
        <result property="uPhone" column="u_phone"></result>
        <result property="uSex" column="u_sex"></result>
        <collection property="userRoles" ofType="com.boss.rbacpowermanage.entity.po.RolePO">
            <id property="rId" column="r_id"></id>
            <result property="rName" column="r_name"></result>
            <result property="rDesc" column="r_desc"></result>
            <result property="rCreateTime" column="r_create_time"></result>
            <result property="rCreator" column="r_creator"></result>
        </collection>
    </resultMap>

    <resultMap id="userRoleMap" type="com.boss.rbacpowermanage.entity.po.RolePO">
        <id property="rId" column="r_id"></id>
        <result property="rName" column="r_name"></result>
        <result property="rCreator" column="r_creator"></result>
        <result property="rCreateTime" column="r_create_time"></result>
        <result property="rDesc" column="r_desc"></result>
    </resultMap>

    <select id="findUserRoles" parameterType="Integer"
            resultMap="userRoleMap">
        SELECt r.*
				FROM sys_users u, sys_roles r, sys_user_role ur
				WHERE u.u_id = #{uId}
				AND ur.u_id = u.u_id
				AND ur.r_id = r.r_id
    </select>
</mapper>